*/build
*/bin
.metadata/
*/.settings
*/.classpath
*/.project
*/.gradle
*spanishText*
NGramReader/
POSTagging/src/main/resources
SentimentAnalysis/txt_sentoken
SentimentAnalysis/sets
SentimentAnalysis/features
